<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friend %>
  <div class="card card-header results-block">
    <strong>email: </strong> <%= @friend.email %>
    <strong>first_name: </strong> <%= @friend.first_name %>
     <strong>last_name: </strong> <%= @friend.last_name %>
  
      

  </div>
 <% end %>